<div class="jumbotron center">
	<h3>How does this work?</h3><br /><br />
<ul class="list-group">
  <li class="list-group-item text-left">1. Go to "Records" and click "Show" next to record to work on.</li>
  <li class="list-group-item text-left">2. Click "New Comment" on "Comments" page, fill in content and submit.</li>
  <li class="list-group-item text-left">3. Choose comment tag from picklist, or enter a new one, if you like.  Try to reuse available tags when possible, to allow app to capture similar comments across all records.</li>
  <li class="list-group-item text-left">4. Hopefully, with this app we can more easily capture common issues with the LC BIBFRAME converter.  Each MARC record appears alongside its BIBFRAME conversion and allows you to enter comments on issues you see in the conversion, tagged with a comment tag, to allow better capture of common issues across all records.</li>
  <li class="list-group-item text-left">5. Vestibulum at eros</li>
</ul>
</div>